<div class="functional-modal-overlay">
  <div class="functional-modal">
    <span class="modal-header sticky-modal sticky-top-modal">
      <h5>{{ addOrEditModalHeaderText() }}</h5>
    </span>

    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    <span class="modal-buttons-container sticky-modal sticky-bottom-modal">
      <confusion-button
        [buttonType]="'danger'"
        [buttonIcon]="faBan"
        [buttonLabel]="dismissText()"
        (buttonClick)="functionalModalEvent.emit('cancel')"
      ></confusion-button>

      <confusion-button
        [buttonType]="'danger'"
        [buttonIcon]="faSave"
        [buttonLabel]="submitText()"
        (buttonClick)="functionalModalEvent.emit('submit')"
      ></confusion-button>
    </span>
  </div>
</div>
