.action-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.action-modal {
  display: grid;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  min-width: 40%;
  height: fit-content;
  background-color: #fefcfc;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 5px;
  white-space: pre-wrap;
}

.close-modal-icon-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: medium;
  position: relative;
  padding: 0px 0px 20px 0px;
}

.action-icon-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.action-icon {
  font-size: larger;
  border: 1px solid #a2a2a2;
  border-radius: 6px;
  padding: 3px 10px;
}

.action-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-text {
  font-size: medium;
  font-weight: bold;
  color: #545454;
}

.body-text {
  font-size: small;
  color: #a2a2a2;
  white-space: pre;
}

.modal-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
