button {
  display: flex;
  gap: 10px;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
  font-size: smaller;
  align-items: center;
}

button:hover {
  background: #f1f5f7;
  opacity: 0.5;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

label {
  font-size: smaller;
  height: 100%;
  display: flex;
  align-items: center;
}

fa-icon {
  font-size: smaller;
  height: 100%;
  display: flex;
  align-items: center;
}
